@import './base.css';

body {
  background-image: url('../../images/background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
  padding: 2rem;
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    font-weight: bold;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    padding: 0 2rem;
  }
}
